<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Strict//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>

	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<title>文件读取系统</title>
		<style type="text/css">
			body {
				font-family: "微软雅黑";
				font-size: 14px;
				color: #515a6e;
			}
			
			input {
				font-family: "微软雅黑";
				color: #515a6e;
				outline: 0;
			}
			
			input[type=text] {
				padding: 2px 5px;
			}
			
			input[type=button] {
				cursor: pointer;
				border: 0;
				padding: 5px 15px 6px;
				border-radius: 4px;
				color: white;
				background-color: #2d8cf0;
				transition: opacity 0.5s;
			}
			
			input[type=button]:hover {
				opacity: 0.85;
			}
		</style>
	</head>

	<body style="text-align: center">
		<p>
			<input type="button" value="读取图片" onclick="setImg()" />
			<input type="button" value="返回" onclick="location.href='/'" />
		</p>
		<p>
			<input type="text" placeholder="输入图片路径" />
		</p>
		<p>
			<img src="" style="max-width: 25%">
		</p>
	</body>

	<script type="text/javascript" src="jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
		function setImg() {
			$("img").attr("src", $("input[type=text]").val());
		}
	</script>

</html>